<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1" android:versionName="0.3b" package="at.tugraz.ist.catroid.test">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
	
	
    <uses-library android:name="android.test.runner" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="7" />
    <instrumentation android:targetPackage="at.tugraz.ist.catroid" android:name="android.test.InstrumentationTestRunner" />
</manifest> 