<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.catrobat.catroid.test.cucumber"
          android:versionCode="1"
          android:versionName="1.0">

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
    <instrumentation
            android:name="cucumber.api.android.CucumberInstrumentation"
            android:targetPackage="org.catrobat.catroid"
            android:label="Cucumber tests for org.catrobat.catroid"/>
</manifest>