<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Catroid: An on-device visual programming system for Android devices
  ~ Copyright (C) 2010-2017 The Catrobat Team
  ~ (<http://developer.catrobat.org/credits>)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ An additional term exception under section 7 of the GNU Affero
  ~ General Public License, version 3, is available at
  ~ http://developer.catrobat.org/license_additional_term
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest package="org.catrobat.catroid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- drone -->
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- bluetooth -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- gps -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- nfc -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- For testing purposes, this is automatically removed in live builds, but not in jenkins builds -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".CatroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${appName}"
        android:theme="@style/Theme.Catroid"
        android:supportsRtl="true">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="${appName}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.MainMenuActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="@string/catroid_extension_pathPattern"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="@string/catroid_extension_pathPattern"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/catrobat+zip"
                    android:pathPattern="@string/catroid_extension_pathPattern"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/catrobat.com:catroid" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BackPackActivity"
            android:noHistory="true"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MarketingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stage.StageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/stage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".drone.DroneStageActivity"
            android:configChanges="orientation"
            android:label="@string/stage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".stage.PreStageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProjectActivity"
            android:screenOrientation="portrait" />
         <activity
             android:name=".ui.BaseActivity"
             android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProgramMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScriptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserBrickScriptActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyProjectsActivity"
            android:noHistory="false"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScratchConverterActivity"
            android:label="@string/title_activity_scratch_converter"
            android:noHistory="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".ui.ScratchConverterActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ScratchProgramDetailsActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetooth.ConnectBluetoothDeviceActivity" />
        <activity
            android:name=".soundrecorder.SoundRecorderActivity"
            android:exported="true"
            android:label="@string/soundrecorder_name"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pocketmusic.PocketMusicActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:label="@string/add_sound_music"
            android:icon="@drawable/ic_pocketmusic"/>

        <service android:name=".transfers.ProjectUploadService" />
        <service android:name=".transfers.ProjectDownloadService" />
        <service android:name=".transfers.MediaDownloadService" />
        <service android:name="com.parrot.freeflight.service.DroneControlService" />
        <service android:name=".utils.StatusBarNotificationManager$NotificationActionService" />
        <service android:name=".cast.CastService" android:exported="false"/>

    </application>
</manifest>
