<?xml version="1.0" encoding="utf-8"?>
<!-- The warning concerning the minSdkVersion can be ignored, as this is our intended behavior -->

<!-- 
 *  Catroid: An on-device graphical programming language for Android devices
 *  Copyright (C) 2010  Catroid development team 
 *  (<http://code.google.com/p/catroid/wiki/Credits>)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="5"
	package="at.tugraz.ist.catroid"
	android:versionName="0.5.0a"
	android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />
        
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<application
		android:icon="@drawable/ic_launcher_catroid_plain"
		android:label="@string/app_name"
		android:debuggable="true"
		android:theme="@android:style/Theme.Light.NoTitleBar">
		
		<activity android:name=".ui.MainMenuActivity">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:name=".stage.StageActivity"
			android:screenOrientation="portrait"
			android:label="@string/stage"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
			
		<activity android:name=".ui.ProjectActivity" />
		
		<activity android:name=".ui.ScriptActivity" />
		
		<activity android:name=".ui.SpriteActivity" />

		<activity
			android:name=".ui.DownloadActivity"
			android:label="@string/app_name"
			android:noHistory="true">
			<intent-filter>
				<action	android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="http"
					android:host="catroidwebtest.ist.tugraz.at"
					android:pathPrefix="/catroid/download/" />
				<data
					android:scheme="http"
					android:host="www.catroid.org"
					android:pathPrefix="/catroid/download/" />
				<data
					android:scheme="http"
					android:host="catroid.org"
					android:pathPrefix="/catroid/download/" />
			</intent-filter>
		</activity>
		
	</application>
	
</manifest>